@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
}

:root {
  --pri-color: #7FFFD4;
  --sec-color: #1A1E35;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 0;
  margin-bottom: 30px;
}

.nav-bar {
  padding: 12px;
  background-color: #2e364e;
  border-radius: 6px;
}

input::placeholder {
  color: #fff;
}

.search-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-game {
  width: 500px;
  padding: 6px;
  font-size: 1rem;
  border: none;
  border-radius: 6px 0 0 6px;
  background-color: #2e364e;
  border: 1px solid #7FFFD4;
  color: #fff;
}

.search-button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background-color: var(--pri-color);
  font-size: 1rem;
  border-radius:0 6px 6px 0;
  border: none;
  cursor: pointer;
  border: 1px solid #7FFFD4;

}



/* on mobile */
@media (max-width: 760px) {
  .search-game {
    width: 150px;
  }
  input::placeholder {
    color: #fff;
  }

  .main-logo {

  }
}
  


.main-logo {
  width: 30px;
  margin-right: auto;
  margin-left: 0;
}

.logo-text {
  font-size: 1rem;
  margin: 0 8px;
  display: inline;
  color: #fff;
}

.logo-link {
  text-decoration: none;
}

section {
  background-color: var(--sec-color);
  padding: 40px 0;
}

.header-image {
  padding: 0;
}

.owl-carousel {
  background-color: var(--sec-color);
}

button.owl-next > span,
button.owl-prev > span
 {
  color: #fff;
}

.header-section {
  grid-area: header;
}

.aside-section {
  grid-area: aside;
  padding: 20px;
  background-color: #2e364e;
  border-radius: 6px;
}

.main-section {
  grid-area: main;
  padding: 20px;
}

.wrapper {
  padding: 0;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  gap: 20px;
  grid-template-areas:
  "aside header header"
  "aside main main"
}

@media screen and (max-width:768px) {
  .wrapper {
    grid-template-areas:
    "header header header"
    "aside aside aside"
    "main main main"
  }
}

.aside-category-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.aside-sort-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff;
}

.main-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: var(--pri-color);
}

/* desktop */
.game-group {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

/* desktop */
.game-card {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.game-image {
  width: 100%;
}

.game-content {
  padding: 10px;
}

.game-title {
  text-decoration: none;
  color: #1A1E35;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.game-list {
  margin-top: 40px;
}

.likes {
  position: absolute;
  top: 12px;
  right: 5px;
  cursor: pointer;
}


/* mobile */
@media screen and (max-width:760px) {
  .game-group {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .game-card {
    width: 100%;
    flex-direction: row;
  }
  .game-title {
    font-size: 0.9rem;
  }
  .game-image {
    width: 120px;
    height: 100%;
  }
  .game-price,
  .game-rating {
    font-size: 0.8rem;
  }
  .sort-item {
    font-size: 0.8rem;
  }
  .category-item {
    font-size: 0.8rem;
  }
  .reset-button {
    font-size: 0.8rem;
  }
}

.sort-item {
  border: none;
  display: block;
  background-color: aliceblue;
  padding: 10px 16px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.sort-item:hover,
.category-item:hover {
  background-color: var(--pri-color);
}

.category-item {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cef7fd;
  padding: 10px 16px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.category-item-icon {
  width: 16px;
  margin-right: 5px;
}

.reset-button {
  border: none;
  display: block;
  padding: 10px 16px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: rgb(255, 129, 83);
}

/* on mobile */
@media screen and (max-width:760px) {
  .category-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
  .sort-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
}


footer {
  text-align: center;
  background-color: #0c0e19;
  padding: 20px 0;
}

.footer-content {
  color: #7FFFD4;
}